<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwbfrank.blog.dao.mybatis.mapper.UserMapper">
    <select id="selectLoginByUsername" resultType="com.dwbfrank.blog.model.domain.Login">
        SELECT account AS username, password
        FROM login
        WHERE account = #{username}
    </select>
</mapper>